html,body{
    width: 100%;
    height: 100%;
    background:  url("../images/x-bg1.jpg") 0 0 no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
button{
    outline: none;
}
/*搜索*/
.suggestion{
    background: rgba(135, 206, 235, 0.9);
    margin-top: 12px;
}
.suggestion ul{
    border:1px solid yellow;
}
.suggestion li{
    padding:0 10px;
    line-height: 24px;
}
.suggestion .active{
    background: #c4ffa1;
}

/*内容*/
.x-content{
    width: 1200px;
    height: 1670px;
    margin: auto;
    background-color: rgba(255,255,255,0.85);
}

/*导航区域*/
/*上导航*/
.x-content .nav .nav_top{
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    /*background-color: rgba(255,255,255,0.2);*/
}
.x-content .nav .nav_top .top_left{
    float: left;
    margin-left: 20px;
    color: #666666;
}
.x-content .nav .nav_top .top_right{
    float: right;
    margin-right: 33px;
    color: #0a0a0a;
    font-weight: 600;
}
.x-content .nav .nav_top .top_right a:hover{
    color: tomato;
}

/*中导航*/
.x-content .nav .nav_center{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255,255,255,1);
}
.x-content .nav .nav_center img{
    height: 55px;
    margin-left: 25px;
    float: left;
    margin-top: 2px;
}
.x-content .nav .nav_center .center_center{
    font-size: 16px;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}
.x-content .nav .nav_center .center_center li{
    width: 120px;
    height: 20px;
    float: left;
    border-right:2px solid black;
    line-height: 20px;
    margin-top: 18px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}


.x-content .nav .nav_center .center_center li>a{
    color: #191818;
}
.x-content .nav .nav_center .center_center li>a:hover{
    color:orangered;
    font-size: 18px;
}

.x-content .nav .nav_center .center_center li>ul{
    display: none;
}
.x-content .nav .nav_center .center_center li>ul>li{
    border-right:none;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.x-content .nav .nav_center .center_center li>ul>li>a:hover{
    color: #ff314c;
    font-size: 16px;
    font-weight: 600;
}
.x-content .nav .nav_center .center_center li>ul>li:last-child{
    text-indent: 5px;
}
.x-content .nav .nav_center .center_center li:last-child{
    border: none;
}
.x-content .nav .nav_center  .find .input-text {
    width: 300px;
    height: 36px;
    float: left;
    border: 1px solid #ff7d14;
    font-size: 14px;
    text-indent: 10px;
    margin-top: 11px;
}
.x-content .nav .nav_center .find .input-submit {
    border:none;
    width: 50px;
    height: 38px;
    background: #ff7d14 url("../images/serch.png")  no-repeat 10px 5px;
    background-size: 28px 28px;
    float: left;
    margin-top: 11px;
    cursor: pointer;
}

/*下导航*/
.x-content .nav .nav_bottom{
    width: 100%;
    height: 30px;
    text-indent: 10px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(255,255,255,0.7);
}

/*内容区域*/
/*标题*/
.x-content .header{
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 30px;
    color: #000000;
    line-height: 45px;
    font:bolder 32px "微软雅黑 Light";
}
/*展示及价格*/
.x-content .show{
    width: 100%;
    height: 510px;
}
/*轮播图展示*/
.x-content .show .pic{
    margin-left: 40px;
    width: 500px;
    height: 485px;
    float: left;
}
.x-content .show .pic .pic_show{
    width: 500px;
    height: 390px;
    overflow: hidden;
    position: relative;
}
.x-content .show .pic .pic_ul img{
    width: 500px;
    height: 390px;
}
.x-content .show .pic .pic_ul{
    width: 2000px;
    height: 390px;
    position: absolute;
    left: 0;
    top: 0;
}
.x-content .show .pic .pic_ul li{
    float: left;
}
.x-content .show .pic .flash{
    width: 500px;
    height: 98px;
    position: relative;

}
.x-content .show .pic .flash span{
    position: absolute;
    width: 40px;
    height: 100px;
    font-size: 50px;
    color: red;
    line-height: 100px;
    font-weight: 900;
}
.x-content .show .pic .flash .flash_l{
    left: 0;
    top: 0;
}
.x-content .show .pic .flash .flash_r{
    right: 0;
    top: 0;
}
.x-content .show .pic .flash ul{
    width: 445px;
    height: 100px;
    margin-left: 50px;
    padding-top: 20px;
}
.x-content .show .pic .flash li img{
    width: 110px;
    height: 75px;
    opacity: 1;
    transition: all 0.5s;
}

.x-content .show .pic .flash li{
    float: left;
    width: 145px;
}
/*价格*/
.x-content .show .money{
    width: 610px;
    height: 100%;
    float: left;
    margin-left: 50px;
    font-family:"微软雅黑";
}
.x-content .show .money .money_top{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
}
.x-content .show .money .money_top .red{
    color:red;
}
.x-content .show .money .money_top .sp2{
    font-size: 35px;
}
.x-content .show .money .money_form{
    width: 100%;
    height: 200px;
}
.x-content .show .money .money_form .pay{
    width: 150px;
    height: 40px;
    margin-left: 85px;
    margin-top: 28px;
    text-indent: 18px;
    line-height: 40px;
    position: relative;
    font-size: 17px;
    border: 1px solid #6c6869;
    display: inline-block;
}
.x-content .show .money .money_form .pay img{
    position: absolute;
    top: 10px;
    right: 10px;
}
.x-content .show .money .money_form input{
    height: 25px;
    border: 1px solid #6c6869;
}
.x-content .show .money .money_form .book{
    height: 40px;
    width: 170px;
    background-color: #87ceeb;
    border:none;
    color: #ffffff;
    font-size: 20px;
    margin-left: 93px;
    cursor: pointer;
}
.x-content .show .money .money_form .input_phone{
    margin-top: 28px;
}
.x-content .show .money .money_form .input_phone #reg_num{
    height: 30px;
    background-color: #ffb5b8;
    border: none;
    border-radius: 8px;
}
.x-content .show .money .money_form .input_phone>span{
    display: inline-block;
    margin-right: 25px;
    margin-left: 10px;
}
.x-content .show .money .money_form .input_phone input{
    width: 200px;
    margin-right: 5px;
 }
.x-content .show .money .money_form p{
    margin-top: 8px;
}
.x-content .show .money .money_form .start_city span{
    display: inline-block;
    margin-right: 20px;
}
.x-content .show .money .money_form #place{
    margin-left: 85px;
    color: #87ceeb;
}
.x-content .show .money .money_form .input_time{
    width: 300px;
}
.x-content .show .money .money_form .go_to{
    margin-right: 17px;
}
.x-content .show .money .money_des{
    width: 588px;
    height: 155px;
    margin-top: 38px;
    line-height: 30px;
    font-family:"宋体";
    color: #666666;
}
#des_more{
    display: none;
}
.x-content .show .money .money_des #des_on{
    font-size: 23px;
    color: green;
    cursor: pointer;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

/*<!--中部切换区域-->*/
.x-content .tog{
    border-top:1px solid black;
    width: 100%;
    height: 887px;
    padding-top: 1px;
    position: relative;
}
.x-content .tog .tog_tag{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}
.x-content .tog .tog_tag ul li{
    width: 100px;
    height: 50px;
    border: 1px solid #bababa;
    float: left;
    line-height: 50px;
    text-align: center;
    border-right:none;
    font-weight: 600;
}
.x-content .tog .tog_tag ul li:last-child{
    border-right:1px solid #bababa;
}
.current{
    background-color: rgba(255, 181, 184,0.8);
}
.x-content .tog  .des>div{
    width: 95%;
    margin-left: 28px;
}
.x-content .tog  .go_des p{
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.x-content .tog  .go_des p:first-child{
    color: red;
    font-size: 20px;
}
.x-content .tog  .go_des p:nth-of-type(2){
    margin-bottom: 25px;
}
.x-content .tog  .go_des p:nth-of-type(4){
    margin-bottom: 30px;
}
.x-content .tog  .go_des p:nth-of-type(6){
    margin-bottom: 32px;
}
.x-content .tog  .go_des p:nth-of-type(11){
    margin-bottom: 30px;
}
.x-content .tog  .go_des p:last-child{
    margin-bottom: 70px;
}
.x-content .tog  .go_des .ul_des li:nth-of-type(2){
    display: none;
}
.x-content .tog  .go_des .ul_des li:nth-of-type(3){
    display: none;
}
.x-content .tog .ool{
    /*width: 100%;*/
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 45%;
}
.x-content .tog ol{
    width: 130px;
    height: 25px;
    margin: auto;
}
.x-content .tog ol li{
    float: left;
    width: 20px;
    height: 25px;
    line-height: 25px;
    border-radius: 80%;
    margin-left: 10px;
    background-color: rgba(255, 120, 204, 0.5);
    /*transition: all 0.5s;*/
}
.x-content .tog ol li:hover{
    transform: scale(1.2);
    background-color: rgba(182, 255, 171, 0.8);
    font-weight: 600;
    /*border: 1px solid tomato;*/
    /*border-radius: 0;*/
}
.x-content .tog>p{
    margin-top: 60px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 35%;
}
.x-content .tog  .des .tour_des{
    /*background-color: red;*/
    height: 500px;
    display: none;
}

/*选项卡的内容*/
.x-content .tog .des .place_des{
    display: none;
}
.x-content .tog .des #dituContent{
    height: 600px;
    border: 1px solid #cccccc;
}
.x-content .tog  .des .thing_des{
    display: none;
    background-color: black;
    height: 400px;
}
/*排忧解难*/
.x-content .tog  .des .que_des{
    display: none;
}
.luck{
    height: 680px;
    margin: auto;
}
.luck p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: tomato;
}
.luck button{
    border: none;
    width: 160px;
    height: 50px;
    color: white;
    background-color: tomato;
    border-radius: 18px;
    font-size: 23px;
}
.luck .luck_box{
    width: 850px;
    height: 567px;
    margin: auto;
    border: 1px solid #6c6869;
}
.luck .luck_box .luck_ul{
    width: 850px;
    height: 530px;
}
.luck .luck_box .luck_ul li{
    margin: 10px 10px 0 10px;
    border: 1px solid #6c6869;
    width: 260px;
    height: 148px;
    float: left;
    text-align: center;
    padding-top: 25px;
}
.luck .luck_box .luck_ul img{
    width: 200px;
    height: 120px;
}
.luck_choose{
    background: red;
}
.mask_div{
    width: 100%;
    height: 100%;
    background-color: rgba(25, 24, 24, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.mask_div .mask_ul{
    width: 800px;
    height: 500px;
    background-color: rgb(255,255,255);
    margin: 80px auto;
    display: none;
}
.mask_div .mask_ul li{
    display: none;
}
.mask_div .mask_ul li>h5{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
.mask_div .mask_ul li span{
    display: inline-block;
    line-height: 30px;
    margin:8px 40px;
}
.mask_div .mask_ul li>div{
    text-align: center;
    padding-top: 50px;
}
.mask_div .mask_ul img{
    width: 420px;
    height: 302px;
}


/*百度地图*/
.iw_poi_title {
    color:#CC5522;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding-right:13px;
    white-space:nowrap
}
.iw_poi_content {
    font:12px arial,sans-serif;
    overflow:visible;
    padding-top:4px;
    white-space:-moz-pre-wrap;
    word-wrap:break-word
}
/*轮播图*/
.uul li{
    transition: all 0.5s;
}
.scale_pic{
    transform: scale(1.2);

}
/*回到顶部*/
#service{
    width:161px;
    height:290px;
    position:fixed;
    bottom:10px;
    right:0;
    z-index:100;
}
#service li{
    width:161px;
    height:60px;
}
#service li img{
    float:right;
}
#service li a{
    height:49px;
    float:right;
    display:block;
    min-width:47px;
    max-width:161px;
}
#service li a .shows{
    display:block;
}
#service li a .hides{
    margin-right:-143px;
    cursor:pointer;
}
#service li a.weixin_area .hides{
    display:none;
    position:absolute;
    right:143px;
}
#service li a.weixin_area .weixin{
    display:none;
    position:absolute;
    right:0;
    top:48px
}
#p2{
    width:112px;
    background-color:#A7D2A9;
    height:47px;
    margin-left:47px;
    border:1px solid #8BC48D;
    text-align:center;
    line-height:47px
}
#p3{
    width:112px;
    background-color:#EC9890;
    height:47px;
    margin-left:47px;
    border:1px solid #E6776C;
    text-align:center;
    line-height:47px
}
#aa{
    width:47px;
    height:49px;
    float:left
}
/*游客点评*/
label{}
.stars{
    color:#ff6600;
    height:180px;
    line-height: 30px;
    font-size: 13px;
    margin: 0 0 20px
}
.stars>p:first-of-type{
    font-size: 20px;
    font-weight:bolder;
    background-color: #ff100c;
    /*color: #3a8004;*/
    color: white;
    margin-bottom: 15px;
}
.stars>p:last-of-type{
    margin-bottom: 10px;
}
.stars p>span{
    color: #666666;
}
.tip{
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
    border: 1px solid #D6D6D6;
    padding:5px 12px;
    background-color: #FFF;
    display: none;
    color:#FF6600;
}
.intro{
    margin-left:8px;
    color:#1B1B1B
}
.stars img{
    vertical-align: top;
    position: relative;
    top:4px;
    cursor:pointer;
}
.stars label{
    width:70px;
    display: inline-block;
    color:#333
}
.comment_title{
    width:45px;
    display: inline-block
}

.comment_btn{
    border: none;
    width: 150px;
    height: 35px;
    background-color: #87ceeb;
    font-size: 18px;
}

