.about{
    height: 60px;
    line-height: 60px;
    background-color: rgb(37,41,43);
    font-size: 18px;
    color:rgb(255,255,255);
}
.team{
    background-color: #dddddd;
    padding: 30px 0px;
}

.team .team-content{
    background-color: #fff;
    padding-left: 30px;
    margin: 0 auto;
}

.team-content h2{
    line-height: 98px;
}
.team-content .imgs{
    overflow: hidden;
    height: 500px;
    font-size: 0;
}
.team-content ul{
    padding-left: 0;
    float: left;
}
.right{
    float: left;
}

.team-content ul li{
    float: left;
    overflow: hidden;
}
.li-one{
    width: 500px;
    height: 500px;
}
.li-two{
    width: 250px;
    height: 250px;
}

.li-three{
    width: 250px;
    height: 250px;
    background-color: rgb(61,57,56);
    display: flex;
    align-items: center;
    justify-content: center;
}

.li-three p{
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0;
}

.li-five{
    width: 250px;
    height: 250px;
    background-color: rgb(211,62,56);
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-five p{
    font-size: 48px;
    color:#fff;
}
.li-six{
    width: 250px;
    height: 250px;
}


.imgs li img{
    width: 100%;
    height: 100%;

}


.team-content>p{
    font-size: 16px;
    line-height: 25px;
    padding: 30px 0px;
    padding-right: 30px;

}
@media screen and (min-width: 767px){
    .team-content{
        width: 100%;
    }
    .team-content .imgs ul{
        width: 800px;
    }
}

@media screen and (min-width: 992px){
    .team-content{
        width: 100%;
    }
    .team-content .imgs ul{
        width: 750px;
    }
}

@media screen and (min-width: 1250px){
    .team-content{
        width: 1200px;

    }


    .team-content .imgs ul{
        width: 1000px;
    }
}
@media screen and (min-width: 1430px){
    .team-content{
        width: 1427px;
    }
    .team-content .imgs ul{
        width: 1000px;
    }
}
